
.home {
    display: flex;
    flex-direction: column;
}
.custom-tooltip {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 4px;
}

.custom-tooltip::before{
    content: "";
    position: absolute;
    left: 50%;
    top: -40%;
    transform: translateX(50%);
    border: 10px solid;
    border-color: #0000 #0000 #000 #0000;
}

.home_top {
    display: flex;
    align-items: center;
}
.home_top-left {
    /* height: 100vh; */
    width: 50%;
}
.home_top-left img {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
    height: 50%;
    width: 50%;
    object-fit: cover;
}

.home_top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
}

.home_top-right--title {
    font-size: 4rem;
}

.home_top-right--subtitile {
    font-size: 3rem;
}

.home_top-right hr {
    border: 0;
    height: 1px;
    background: #c2c2c2;
    margin: 5px;
}

.home_top-right span {
    align-items: start;
    width: 20px;
    /* margin: auto; */
    font-size: 14px;
    background: #fff;
    margin-bottom: 20px;
    margin-left: 150px;
}


.home_top-right--btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home_top-right--btns button {
    width: 20rem;
    margin-bottom: 1rem;
}

.home_top-right--policies {
    font-size: 0.8rem;
    color: #838282;
}

.home_top-right--policies a {
    font-size: 0.8rem;
    color: #50b7f5;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: center;
}

.footer-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    list-style-type: none;
}

.footer-list-item {
    margin: 0.5rem;
}

.footer-list-item a {
    color: #838282;
    text-decoration: none;
}

.footer--copyright {
    font-size: 0.8rem;
    color: #838282; 
}

.footer--copyright a{
    text-decoration: none;
    color: #838282;
    margin-right: 1rem;
}

.btn-primary, .btn-secondary {
    border-radius: 30px;
    padding: 0.6rem 0;
    font-weight: bold;
    border: 1.5px solid #c5c5c5;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: var(--white);
}

.btn-primary:hover {
    background-color: #e6ecf0;
}
.btn-secondary {
    color: white;
    background-color: #50b7f5;
}

.btn-secondary:hover {
    background-color: rgba(14, 147, 224, 0.952);
}

.btn-secondary-bottom {
    color: #50b7f5;
    background-color: white;
}

.btn-secondary-bottom:hover {
    background-color: #e6ecf0;
}

@media screen and (max-width : 1200px) {
    
    .home_top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home_top-left {
        width: 50%;
    }

    .home_top-left img {
        margin-top: 30px;
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 0px;
        height: 10%;
        width: 30%;
        object-fit: cover;
    }
    
    .home_top-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        height: 60vh;
    }

    .home_top-right--title {
        font-size: 2rem;
    }
    
    .home_top-right--subtitile {
        font-size: 1rem;
    }
}